In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import os
import warnings
warnings.filterwarnings("ignore")

In [2]:
data=pd.DataFrame(columns=["CODE_COLLEGE","COLLAGE_NAME"])

In [4]:
df=pd.read_csv("data_preprocess.csv")
df.head()

,COLLAGE,BRANCH,CATEGORIES,RANKING,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31
0,University of Visvesvaraya College of Engineering,AI Artificial Intelligence,2AG,475.0,NaN,1,E001,University of Visvesvaraya College of Engineering,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,University of Visvesvaraya College of Engineering,AI Artificial Intelligence,GM,355.0,NaN,NaN,NaN,1G,1K,1R,...,GM,GMK,GMR,SCG,SCK,SCR,STG,STK,STR,NaN
2,University of Visvesvaraya College of Engineering,AI Artificial Intelligence,SCG,670.0,NaN,AI Artificial Intelligence,NaN,--,--,--,...,355,--,--,670,--,--,--,--,--,NaN
3,University of Visvesvaraya College of Engineering,AI Artificial Intelligence,GMR,0.0,NaN,CE Civil,NaN,--,--,--,...,370,--,529,1617,--,1708,3236,--,--,NaN
4,University of Visvesvaraya College of Engineering,AI Artificial Intelligence,SCR,0.0,NaN,CS Computers,NaN,--,--,--,...,71,165G55,--,369,--,--,568,--,--,NaN

In [9]:
df_c=pd.read_csv("complete.csv")
data=df_c.copy()

In [16]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

# Features and target
X = data[['BRANCH', 'CATEGORIES', 'RANKING']]
y = data['COLLAGE']

# Preprocessing
preprocessor = ColumnTransformer(
    transformers=[
        ('num', StandardScaler(), ['RANKING']),
        ('cat', OneHotEncoder(), ['BRANCH', 'CATEGORIES'])
    ])

# Model pipeline
model = Pipeline(steps=[
    ('preprocessor', preprocessor),
    ('classifier', RandomForestClassifier())
])

# Train/test split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Train model
model.fit(X_train, y_train)

# Predict and evaluate
y_pred = model.predict(X_test)
print(f'Accuracy: {accuracy_score(y_test, y_pred)}')

# Predict the best college for new inputs
new_data = pd.DataFrame({
    'BRANCH': ['AI Artificial Intelligence'],
    'CATEGORIES': ['2AG'],
    'RANKING': [5]
})
prediction = model.predict(new_data) 
print(f'Predicted College: {prediction[0]}')

Accuracy: 0.2727272727272727
Predicted College: R. V. College of Engineering

In [17]:
import joblib
joblib.dump(model,"model.pkl")

['model.pkl']

In [ ]:
model.fit(x_tra)